.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

nav {
  margin: 20px;
}

main {
  margin-top: 20px;
}

#scrollContainer {
  position: relative;

  max-height:300px; 
  overflow-y:auto
}

/* .navbar-brand .container-fluid {
  padding: 16px 8px;
} */